@font-face {
  font-family: "belligerent";
  src: url("../font/belligerent.woff") format("woff"), url("../font/belligerent.ttf") format("ttf");
}
html, body, * {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: belligerent, Arial, Helvetica, sans-serif;
}

header, footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f1e9f0;
  padding: 0.5rem 3rem 0 3rem;
  height: 6rem;
}
@media all and (max-width: 570px) {
  header, footer {
    height: auto;
  }
}
header a, footer a {
  text-decoration: none;
}
@media all and (max-width: 570px) {
  header a, footer a {
    width: 100%;
    text-align: center;
  }
}
header .logo, footer .logo {
  height: 4.5rem;
}
header .logo.footer, footer .logo.footer {
  height: 3rem;
}
header nav, footer nav {
  background-color: #f1e9f0;
}
@media all and (max-width: 570px) {
  header nav, footer nav {
    width: 100%;
    text-align: center;
  }
}
header nav .link-home, footer nav .link-home {
  margin-right: 1.5rem;
}
header nav .lien-panier, footer nav .lien-panier {
  position: relative;
}
header nav .lien-panier span, footer nav .lien-panier span {
  display: none;
  position: absolute;
  right: -5px;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  padding-top: 0.2rem;
  text-align: center;
  vertical-align: middle;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}
@media all and (max-width: 570px) {
  header nav .lien-panier span, footer nav .lien-panier span {
    left: 83%;
  }
}
header nav .lien-panier .visible, footer nav .lien-panier .visible {
  display: inline;
}

footer {
  justify-content: center;
}

h1, .total-prix-articles {
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 3.3rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #f1e9f0;
  border-top: 3px solid #c7834c;
  border-left: 3px solid #c7834c;
  border-bottom: 3px solid #7655c9;
  border-right: 3px solid #7655c9;
}
@media all and (max-width: 1030px) {
  h1, .total-prix-articles {
    margin: 1rem auto;
    margin-top: 1.5rem;
  }
}

section.page-accueil {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%);
  padding: 3rem;
}
@media all and (max-width: 1030px) {
  section.page-accueil {
    grid-template-columns: repeat(auto-fill, 50%);
  }
}
@media all and (max-width: 770px) {
  section.page-accueil {
    grid-template-columns: repeat(auto-fill, 100%);
    padding: 0;
  }
}
section.page-accueil article {
  text-align: center;
  border: 3px solid #7655c9;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.6rem;
}
section.page-accueil article .image {
  min-height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.page-accueil article .image, section.page-accueil article .info {
  border: 3px solid #c7834c;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.6rem;
}
section.page-accueil article .image img, section.page-accueil article .info img {
  border-radius: 0.5rem;
  width: 95%;
}
section.page-accueil article .image a, section.page-accueil article .info a {
  color: black;
}
section.page-accueil article .image a h2, section.page-accueil article .info a h2 {
  margin-top: 0.5rem;
}
section.page-accueil article .image a p, section.page-accueil article .info a p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
section.page-accueil article form {
  margin-top: 1.5rem;
}
section.page-accueil article .prix-et-panier {
  background-color: #f1e9f0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}
section.page-accueil article .prix-et-panier .prix {
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 1rem;
}
section.page-accueil article .prix-et-panier img {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  padding-right: 1rem;
}
section.page-accueil article .prix-et-panier img:hover {
  animation: bounce 1s infinite;
  animation-fill-mode: both;
}

section.page-produit article {
  display: flex;
  width: 75%;
  margin: auto;
  text-align: center;
  border: 3px solid #7655c9;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}
@media all and (max-width: 1030px) {
  section.page-produit article {
    flex-direction: column;
  }
}
@media all and (max-width: 570px) {
  section.page-produit article {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
  }
}
section.page-produit article .image {
  border: 3px solid #c7834c;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.6rem;
  width: 50%;
}
@media all and (max-width: 1030px) {
  section.page-produit article .image {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
section.page-produit article .image img {
  border-radius: 0.5rem;
  width: 100%;
}
section.page-produit article .info-panier {
  border: 3px solid #c7834c;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.6rem;
  width: 50%;
}
@media all and (max-width: 1030px) {
  section.page-produit article .info-panier {
    width: 90%;
    margin: auto;
  }
}
section.page-produit article .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65%;
}
section.page-produit article .info p {
  width: 80%;
  margin: 0 auto;
}
section.page-produit article .info .prix {
  font-weight: bold;
  font-size: 1.2rem;
}
@media all and (max-width: 570px) {
  section.page-produit article .info .prix {
    margin: 1rem auto;
  }
}
section.page-produit article .panier {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e9f0;
  width: 80%;
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
@media all and (max-width: 570px) {
  section.page-produit article .panier {
    margin: 1rem auto;
  }
}
section.page-produit article .panier p {
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 1rem;
}
section.page-produit article .panier img {
  height: 3rem;
  width: 3rem;
}
section.page-produit article .panier:hover {
  animation: bounce 1s infinite;
  animation-fill-mode: both;
}

@keyframes bounce {
  1% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  99% {
    transform: scale(1);
  }
}
section.page-panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
  border: 3px solid #7655c9;
  border-radius: 0.5rem;
  width: 60%;
  margin: auto;
  margin-top: 2.3rem;
  margin-bottom: 2.3rem;
  font-size: 1.2rem;
}
@media all and (max-width: 1030px) {
  section.page-panier {
    width: 90%;
  }
}
@media all and (max-width: 770px) {
  section.page-panier {
    font-size: 0.8rem;
  }
}
section.page-panier article {
  display: flex;
  border: 3px solid #c7834c;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.6rem;
  text-align: center;
}
@media all and (max-width: 570px) {
  section.page-panier article {
    flex-direction: column;
  }
}
section.page-panier article .image {
  height: 100%;
  width: 50%;
}
@media all and (max-width: 570px) {
  section.page-panier article .image {
    width: 100%;
  }
}
section.page-panier article .image img {
  border-radius: 0.5rem;
  width: 80%;
  height: 80%;
}
@media all and (max-width: 570px) {
  section.page-panier article .image img {
    width: 100%;
  }
}
section.page-panier article .info-panier {
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin: 0.6rem;
  width: 50%;
}
@media all and (max-width: 570px) {
  section.page-panier article .info-panier {
    width: 90%;
  }
}
section.page-panier article .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65%;
}
section.page-panier article .info p {
  width: 80%;
  margin: 0 auto;
}
section.page-panier article .info .prix {
  font-weight: bold;
}
@media all and (max-width: 570px) {
  section.page-panier article .info .prix {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
section.page-panier article .panier {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e9f0;
  width: 80%;
  margin: 1rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  font-weight: bold;
}
@media all and (max-width: 570px) {
  section.page-panier article .panier {
    margin-bottom: 0;
  }
}
section.page-panier article .panier span {
  padding: 0 2rem;
  cursor: pointer;
}

.main-container-page-commande {
  background: linear-gradient(to right, #c7834c, #7655c9);
}

section.section-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  background-color: #f1e9f0;
  border-top: 3px solid #c7834c;
  border-left: 3px solid #c7834c;
  border-bottom: 3px solid #7655c9;
  border-right: 3px solid #7655c9;
  border-radius: 0.5rem;
  width: 60%;
  padding: 2rem;
  margin: auto;
  margin-top: 2.3rem;
  margin-bottom: 2.3rem;
}
@media all and (max-width: 1030px) {
  section.section-form {
    width: 80%;
  }
}
section.section-form div.div-form h2 {
  width: 20rem;
  margin-bottom: 1rem;
  text-align: center;
}
section.section-form div.div-form .input-box {
  width: 90%;
}
section.section-form div.div-form .input-box input, section.section-form div.div-form .input-box label {
  width: 100%;
  height: 1.3rem;
  margin: 0.3rem;
}
section.section-form div.div-form input, section.section-form div.div-form input:focus {
  background-color: #f1e9f0;
  border-top: 3px solid #c7834c;
  border-left: 3px solid #c7834c;
  border-bottom: 3px solid #7655c9;
  border-right: 3px solid #7655c9;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  outline: none;
}
section.section-form div.div-form input:focus {
  padding: 0.5rem 1.2rem;
}
section.section-form div.div-form div.button {
  text-align: center;
}
section.section-form div.div-form div.button #submit {
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #c7834c, #7655c9);
  border: none;
  font-family: belligerent, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}
section.section-form div.div-form div.button #submit:hover {
  animation: bounce 1s infinite;
  animation-fill-mode: both;
}

section.recapitulatif-commande {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.recapitulatif-commande .resume {
  background-color: #f1e9f0;
  border-top: 3px solid #c7834c;
  border-left: 3px solid #c7834c;
  border-bottom: 3px solid #7655c9;
  border-right: 3px solid #7655c9;
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 3rem;
  text-align: center;
}
section.recapitulatif-commande .resume h2 {
  margin-bottom: 2rem;
}
section.recapitulatif-commande .resume #id {
  margin-bottom: 1rem;
}

.total-prix-articles h2 {
  margin-bottom: 0.7rem;
}
.total-prix-articles button {
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right, #c7834c, #7655c9);
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}
.total-prix-articles button:hover {
  animation: bounce 1s infinite;
  animation-fill-mode: both;
}

.divSuppression, .divRetourBoutique {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divSuppression button, .divRetourBoutique button {
  border-radius: 0.5rem;
  background: linear-gradient(to right, #c7834c, #7655c9);
  border: none;
  font-family: belligerent, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 3.3rem;
}
.divSuppression button a, .divRetourBoutique button a {
  display: block;
  padding: 0.5rem 4rem;
}

.retourBoutique {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

#delete-basket {
  padding: 0.5rem 4rem;
}

.divRetourBoutiquePageCommande button {
  background-color: #f1e9f0;
  border-top: 3px solid #c7834c;
  border-left: 3px solid #c7834c;
  border-bottom: 3px solid #7655c9;
  border-right: 3px solid #7655c9;
  background: none;
  background-color: #f1e9f0;
}
.divRetourBoutiquePageCommande button .retourBoutique {
  color: black;
}

section.panier-supprimer, section.panier-vide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 3.8rem;
  height: 60%;
  background-color: #f1e9f0;
  border-top: 3px solid #c7834c;
  border-left: 3px solid #c7834c;
  border-bottom: 3px solid #7655c9;
  border-right: 3px solid #7655c9;
}

/*# sourceMappingURL=style.css.map */
