@font-face {
    font-family: "belligerent";
    src: url("../font/belligerent.woff") format("woff"),
        url("../font/belligerent.ttf") format("ttf");
}

// **********************************************************************************************

@keyframes bounce{
    1% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    99% {
        transform: scale(1);
    }
  }

// **********************************************************************************************

$breakpoints : ( 
    phone : 570px,
    ipad : 770px,
    desktop : 1030px,
    desktop-plus: 1500px
);

$color-primary: rgb(241, 233, 240) ;
$color-secondary: rgb(199 , 131, 76); 
$color-tertiary: rgb( 118, 85, 201);

$border-radius: 0.5rem;

// **********************************************************************************************

@mixin phone {
    @media all and (max-width: map-get($breakpoints, phone)) {
        @content;
  }
}

@mixin ipad {
    @media all and (max-width: map-get($breakpoints, ipad)) {
        @content;
  }
}

@mixin desktop {
    @media all and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-plus {
    @media all and (max-width: map-get($breakpoints, desktop-plus)) {
        @content;
    }
}

@mixin flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-validation-and-command {
    padding: .5rem 4rem;
    border-radius: $border-radius;
    @include backgroundColorDegrade;
    border: none;
    font-family: belligerent ,Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}

@mixin border-bicolour{
    background-color: $color-primary;
    border-top: 3px solid $color-secondary;
    border-left: 3px solid $color-secondary;
    border-bottom:3px solid $color-tertiary;
    border-right: 3px solid $color-tertiary;
}

@mixin backgroundColorDegrade {
    background: linear-gradient(to right, $color-secondary, $color-tertiary);
}
// **********************************************************************************************

html, body, *{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: belligerent ,Arial, Helvetica, sans-serif;
}

.main-container{
    max-width: 1500px;
    margin: auto;
}

header, footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color-primary;
    padding: 0.5rem 3rem 0 3rem;
    height: 6rem;
    @include phone{
        height: auto;
    }
    a{
        text-decoration: none;
        @include phone{
            width: 100%;
            text-align: center;   
        }
    }
    .logo{
        height: 4.5rem;
        &.footer{
            height: 3rem;
        }
    }
    nav{
        background-color: $color-primary;
        // display: flex;
        @include phone{
            width: 100%;
            text-align: center;
        }
        .link-home{
            margin-right:1.5rem;
        }
        .lien-panier{
            position: relative;
            span{
                display: none;
                position: absolute;
                right: -5px;
                border-radius: 50%;
                width: 1.1rem;
                height: 1.1rem;
                padding-top: 0.2rem;
                text-align: center;
                vertical-align: middle;
                background-color: red;
                color: white;
                font-size: 0.8rem;
                font-weight: bold;
                @include phone{
                    left: 83%;
                }
            }
            .visible{
                display: inline;
            }
        }
    }
}

footer{
    justify-content: center;
}

h1, .total-prix-articles{
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 3.3rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    border-radius: $border-radius;
    @include border-bicolour;
    @include desktop{
        margin: 1rem auto;
        margin-top: 1.5rem;
    }
}

// **********************************************************************************************

section.page-accueil{
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
    margin: 3rem;
    @include desktop{
        grid-template-columns: repeat(auto-fill, 50%);
    }
    @include ipad{
        grid-template-columns: repeat(auto-fill, 100%);
        padding: 0;
    }
    @include phone{
        margin: 0;
    }
    article{
        text-align: center;
        border: 3px solid $color-tertiary;
        border-radius: $border-radius;
        padding: 0.6rem;
        margin: 0.6rem;
        .image{
            min-height: 225px;
            @include flex-center-center;
        }
        .image, .info{
            border: 3px solid $color-secondary;
            border-radius: $border-radius;
            padding: 0.6rem;
            margin: 0.6rem;
            img{
                border-radius: $border-radius;
                width: 95%;
            }
            a{
                color: black;
                h2{
                    margin-top: 0.5rem;
                }
                p{
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }
        }
        form{
            margin-top: 1.5rem;
        }
        .prix-et-panier{
            background-color: $color-primary;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 80%;
            margin: 1.5rem auto;
            border-radius: $border-radius;
            padding: 0.5rem 0;
            .prix{
                font-weight: bold;
                font-size: 1.2rem;
                padding-left: 1rem;
            }
            img{
                height: 3rem;
                width: 3rem;
                cursor: pointer;
                padding-right: 1rem;
                &:hover{
                    animation: bounce 1s infinite;
                    animation-fill-mode: both;
                }
            }
        }
    }
}

// **********************************************************************************************

section.page-produit{
    article{
        display: flex;
        width: 75%;
        margin: auto;
        text-align: center;
        border: 3px solid $color-tertiary;
        border-radius: $border-radius;
        padding: 1rem;
        margin-top: 3.3rem;
        margin-bottom: 3.3rem;
        @include desktop{
            flex-direction: column;
        }
        @include phone{
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 80%;
        }
        .image{
            border: 3px solid $color-secondary;
            border-radius: $border-radius;
            padding: 0.6rem;
            margin: 0.6rem;
            width: 50%;
            @include desktop{
                width: 90%;
                margin: auto;
                margin-bottom: 1rem;
            }
            img{
                border-radius: $border-radius;
                width: 100%;
            }
        }
        .info-panier{
            border: 3px solid $color-secondary;
            border-radius: $border-radius;
            padding: 0.6rem;
            margin: 0.6rem;
            width: 50%;
            @include desktop{
                width: 90%;
                margin: auto;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 65%;
            p{
                width: 80%;
                margin: 0 auto;
            }
            .prix{
                font-weight: bold;
                font-size: 1.2rem;
                @include phone{
                    margin: 1rem auto;
                }
            }
        }
        .panier{
            @include flex-center-center;
            background-color: $color-primary;
            width: 80%;
            margin: 2rem auto;
            border-radius: $border-radius;
            padding: 0.5rem 0;
            cursor: pointer;
            user-select: none;
            transition: 0.3s ;
            @include phone{
                margin: 1rem auto;
            }
            p{
                font-weight: bold;
                font-size: 1.2rem;
                margin-right: 1rem;
            }
            img{
                height: 3rem;
                width: 3rem;
            }
        }
        .panier:hover{
            animation: bounce 1s infinite;
            animation-fill-mode: both;
        }
    }
}

// **********************************************************************************************

section.page-panier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    border: 3px solid $color-tertiary;
    border-radius: $border-radius;
    width: 60%;
    margin: auto;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    font-size: 1.2rem;
    @include desktop{
        width: 90%;
    }
    @include ipad{
        font-size: 0.8rem;
    }
    article{
        display: flex;
        border: 3px solid $color-secondary;
        border-radius: $border-radius;
        padding: .6rem;
        margin: .6rem;
        text-align: center;
        @include phone{
            flex-direction: column;
        }
        .image{
            height: 100%;
            width: 50%;
            @include phone{
                width: 100%;
            }
            img{
                border-radius: $border-radius;
                width: 80%;
                height: 80%;
                @include phone{
                    width: 100%;
                }
            }
        }
        .info-panier{
            border-radius: $border-radius;
            padding: 0.6rem;
            margin: 0.6rem;
            width: 50%;
            @include phone{
                width: 90%;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 65%;
            p{
                width: 80%;
                margin: 0 auto;
            }
            .prix{
                font-weight: bold;
                @include phone{
                    margin-top: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
        .panier{
            @include flex-center-center;
            background-color: $color-primary;
            width: 80%;
            margin: 1rem auto;
            border-radius: $border-radius;
            padding: 0.5rem 0;
            font-weight: bold;
            @include phone{
                margin-bottom: 0;
            }
            span{
                padding: 0 2rem;
                cursor: pointer;
            }
        }
    }
}

.main-container-page-commande{
    @include backgroundColorDegrade;
}

section.section-form{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    @include border-bicolour;
    border-radius: $border-radius;
    width: 60%;
    padding: 2rem;
    margin: auto;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    @include desktop{
        width: 80%;
    }
    div.div-form{
        h2{
            width: 20rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        .input-box{
            width: 90%;
            input, label{
                width: 100%;
                height: 1.3rem;
                margin: 0.3rem;
            }
        }
        input, input:focus{
            @include border-bicolour;
            background-color: white;
            border-radius: $border-radius;
            padding: 0.4rem 1rem;
            outline: none;
        }
        input:focus{
            padding: 0.5rem 1.2rem;
        }
        div.button{
            text-align: center;
            #submit{
                @include button-validation-and-command;
                &:hover{
                    animation: bounce 1s infinite;
                        animation-fill-mode: both;
                }
            }
        }
    }  
}

section.recapitulatif-commande{
    @include flex-center-center;
    .resume{
        @include border-bicolour;
        border-radius: $border-radius;
        padding: 3rem;
        margin: 3rem;
        text-align: center;
        h2{
            margin-bottom: 2rem;
        }
        #id{
            margin-bottom: 1rem;
        }
    }
}

.total-prix-articles{
    h2{
        margin-bottom: 0.7rem;
    }
    button{
        padding: .5rem 4rem;
        border-radius: $border-radius;
        @include backgroundColorDegrade;
        border: none;
        font-weight: bold;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        margin-top: 1rem;
        &:hover{
            animation: bounce 1s infinite;
                        animation-fill-mode: both;
        }
    }
}

.divSuppression, .divRetourBoutique{
    @include flex-center-center;
    button{
        border-radius: $border-radius;
        background: linear-gradient(to right, $color-secondary,$color-tertiary);
        border: none;
        font-family: belligerent ,Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 3.3rem;
        a{
            display: block;
            padding: .9rem 5rem;
        }
    }
}
.retourBoutique{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
#delete-basket{
    padding: .5rem 4rem;
}
.divRetourBoutiquePageCommande{
    button{
        @include border-bicolour;
        background: none;
        background-color: $color-primary;
        .retourBoutique{
            color: black;
        }
    }
    
}
section.panier-supprimer, section.panier-vide{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 3.8rem;
    height: 60%;

    @include border-bicolour;
}

// **********************************************************************************************
